@import url("https://unpkg.com/@webpixels/css@1.0/dist/index.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

.navbar{
  max-height: 8vh;
}


.main{
  overflow-x : hidden;
}

.rbto-slab{
  font-family: 'Roboto Slab', serif;
}
